<h2>List of all notes of <%= @candidate.name %>.</h2>

<table class="table table-striped table-bordered">
  <tr>
  	<th>No.</th>
    <th>Note</th>
  </tr>
  <% @notes.each_with_index do |note, i| %>
	  <tr>
	  	<td><%= i+1 %></td>
	    <td><%= note.content %></td>
	  </tr>
  <% end %>
</table>