<h2>List of all jobs.</h2>

<table class="table table-striped table-bordered">
  <tr>
    <th>No.</th>
    <th>Name</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.id %></td>
      <td><%= job.name.titleize %></td>
    </tr>
  <% end %>
</table>